<form class="forgot-form" [formGroup]="form" (ngSubmit)="onSubmit()" dir="rtl">
  <h2>איפוס סיסמה</h2>

  <label for="email">האימייל שלך: (יש לבדוק גם בספאם)</label>
  <input id="email" type="email" formControlName="email" placeholder="your@email.com" dir="ltr">

  <!-- Error -->
  @if(errorMessage()) {
    <p class="error">{{ errorMessage() }}</p>
  }

  <!-- Success -->
  @if(successMessage()) {
    <p class="success">{{ successMessage() }}</p>
  }

  <button type="submit" [disabled]="!canSubmit">
    @if(!loading()) { שלח קישור לאיפוס }
    @if(loading()) { שולח... }
  </button>
  @if(userMsg()) {
  <div>
    {{userMsg()}}
  </div>  
  }  
</form>
