<section class="wrap" dir="rtl">
  <div class="fb-tabs">
    <a
      class="fb-tab"
      [class.active]="isShowProfile()"
      (click)="showProfile(true)">
      פרופיל
    </a>

    <a
      class="fb-tab"
      [class.active]="!isShowProfile()"
      (click)="showProfile(false)">
      תמונות
    </a>
  </div>
  @if(isShowProfile()) {
  <div class="status" *ngIf="loading()">טוען...</div>
  <div class="status error" *ngIf="!loading() && error()">{{ error() }}</div>


  <div class="card" *ngIf="!loading() && !error() && user() as u">
    <div class="avatar">
      <img *ngIf="u" [src]="imageUrl()" alt="avatar" />
      <div *ngIf="!u" class="placeholder">אין תמונה</div>
    </div>

    <h2 class="name">{{ u.name }}</h2>
    <a class="email" [href]="'mailto:' + u.email">{{ u.email }}</a>

    <div class="grid">
      <div><strong>ת. לידה:</strong> {{ u.birth_day || '—' }}/{{ u.birth_month || '—' }}/{{ u.birth_year || '—' }}</div>
      <div><strong>מין:</strong> {{ textByValue(gender, u.gender)  || '—' }}</div>
      <div><strong>איזור:</strong> {{ textByValue(regions, u.country) || '—' }}</div>
      <div><strong>טלפון:</strong> {{ u.phone || '—' }}</div>
      <div><strong>מצב משפחתי:</strong> {{ textByValue(familyStatus, u.ff) || '—' }}</div>
    </div>

    <div class="about" *ngIf="u.details || u.details1">
      <h3>אודות</h3>
      <p *ngIf="u.details">{{ u.details }}</p>
      <h4 *ngIf="u.details1">תחומי עניין</h4>
      <p *ngIf="u.details1">{{ u.details1 }}</p>
    </div>

  
    @if (loggedInUser()) {
    <div style="display: flex">
      <button class="btn block-btn"
        [ngClass]="{'unblock-btn' : isLoggedIUserBlocksPeer() }"
        (click)="blockUser(this.id)">
      </button>

      @if(!isLoggedIUserBlockedByPeer()) {
      <button class="btn msg-btn" (click)="openCompose()">הודעה</button>
      }
  
      <button class="btn share-btn" (click)="openShareDialog()">שתף פרופיל</button>

      <button
        type="button"
        class="album__like"
        [class.active]="liked"
        (click)="liked = !liked; $event.stopPropagation()"
        aria-label="אהבתי"
        title="אהבתי"
      ></button>
    </div>
    }
  </div>
  } @else {
    <app-album [userId]="id"></app-album>    
  }
</section>
