aiofiles==24.1.0
bcrypt==4.3.0
fastapi==0.115.9
pydantic==2.11.5
pydantic_core==2.33.2
python-multipart==0.0.9
starlette==0.45.3
uvicorn==0.30.6
websockets==15.0.1
sendgrid==6.12.5
sqlalchemy
psycopg2-binary
passlib[bcrypt]
pywebpush
bleach