<!-- Bottom area: Updates + People side-by-side, centered, bottom of page -->
<div style="direction: rtl;" [innerHTML]="mainPageTemplate()?.html"></div>

<div class="home-bottom" dir="rtl">
  <!-- Updates box -->
  <div class="updates-box">
    <div class="updates-box__header">
      <span class="itemstitle">עידכונים מהאתר</span>
    </div>
    <div class="updates-box__body">
      <div class="updates-box__scroll">
        <div class="updates-list">
          <div class="updates-item updates-item--promo">
            <!--<img src="http://www.pgoshoti.co.il/images/star.gif" alt="★" />-->
            <a href="http://www.pgoshoti.co.il/site.asp" target="_blank">
              <u><strong>בואו לנהל אתר משלכם!</strong></u>
            </a>
          </div>

          
          @for (upd of updates(); track $index) {
          <a class="updates-item" [href]="upd.href">{{ upd.title }}</a>
          }
        </div>
      </div>
    </div>
  </div>

  <!-- People box -->
  <div class="people-box">
    <!-- Header -->
    <div class="people-box__header itemstitle" routerLink="/search">
      <span class="people-box__title">אנשים שתשמחו לפגוש</span>
      <span class="people-box__more">[ הצג עוד ]</span>
    </div>

    <div class="people-box__body">
      <div class="people-grid">
        <a
          *ngFor="let u of randomUsers(); trackBy: trackByUserId"
          class="people-grid__item tooltip"
          [routerLink]="['/user', u.id]"
        >
          <img [src]="imageUrl()(u)" alt="user photo" />

          <span class="tooltip__content">
            <div>{{ u.name }} | {{ calcAge(u) }} | {{ regions[u.country]?.txt }}</div>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
