<div class="top-menu">
  @if (loggedInUser) {
    <div class="greeting">{{ loggedInUser.c_name }} שלום</div>
  }
  <nav>
    @if (loggedInUser) {
    <a routerLink="/register" routerLinkActive="active">
      עדכון פרטים
    </a>
    <a routerLink="/search" [queryParams]=randomInit() routerLinkActive="active">חפש חברים</a>
    <a routerLink="/users" routerLinkActive="active">כל החברים</a>
    <a routerLink="/likes" routerLinkActive="active">לייקים(0)</a>
    }
    <a (click)="logout()" class="logout">יציאה</a>
  </nav>
</div>
