<a routerLink="/admin/dashboard">Admin Updates</a>&nbsp;
<a routerLink="/admin/pages">Admin Pages</a>&nbsp;
<a routerLink="/admin/users">Admin Users</a>&nbsp;
<a routerLink="/admin/banners">Admin Banners</a>&nbsp;


<form class="login-card" (ngSubmit)="onLogin()" #loginForm="ngForm" dir="rtl">
  <h2>כניסה לחשבון</h2>

  <label for="email">דוא"ל:</label>
  <input id="email" type="email" name="email" [(ngModel)]="email" required />

  <label for="password">סיסמה:</label>
  <div class="password-wrapper">
  <input
    id="password"
    [type]="showPassword ? 'text' : 'password'"
    name="password"
    [(ngModel)]="password"
    required
  />

  <span
    class="material-icons eye"
    (click)="showPassword = !showPassword"
  >
    {{ showPassword ? 'visibility_off' : 'visibility' }}
  </span>
</div>


  <div class="buttons">
    <button type="submit" [disabled]="!loginForm.valid">כניסה עם דוא"ל וסיסמא</button>
    <button type="button" class="secondary" (click)="goToRegister()">הרשמה לאתר</button>
  </div>
  <div>
    <a [routerLink]="['/forgot-password']">שכחתי סיסמא</a>
  </div>

  <div class="error" *ngIf="error">{{ error }}</div>
  <div class="success" *ngIf="success">{{ success }}</div>
</form>
