<section class="users-page" *ngIf="!loading(); else loadingTpl">

  <ng-container *ngIf="pagedUsers().length; else noUsers">

    <div class="users-list" role="table" aria-label="Users list">

      <!-- Header -->
      <div class="u-row u-row--head" role="row">
        <div class="u-cell u-pic" role="columnheader">תמונה</div>
        <div class="u-cell u-name" role="columnheader">שם</div>
        <div class="u-cell u-age" role="columnheader">גיל</div>
        <div class="u-cell u-age" role="columnheader">אזור מגורים</div>
        <div class="u-cell u-action" role="columnheader">&nbsp;</div>
      </div>

      <!-- Rows -->
      <div class="u-row" role="row" *ngFor="let u of pagedUsers(); trackBy: trackByUserId">
        <div class="u-cell u-pic" role="cell">
          <img class="avatar" [src]="imageUrl()(u)" alt="user photo" />
        </div>

        <div class="u-cell u-name" role="cell">
          <span class="name">
            {{ u.name }}
            @if (isOnline()(u.id)) {
              <span class="online">כרגע באתר</span>
            }
          </span>
        </div>

        <div class="u-cell u-age" role="cell">
          <span class="age">{{ calcAge(u) }}</span>
        </div>

        <div class="u-cell u-name" role="cell">
          <span class="name">{{ regions[u.country]?.txt }}</span>
        </div>
   
        
        <div class="u-cell u-action" role="cell">
          <a class="btn-profile" [routerLink]="['/user', u.id]">הצג</a>
        </div>
      </div>

    </div>

    <!-- Pagination -->
    <div class="pager">
      <button type="button" class="pager-btn" (click)="prevPage()" [disabled]="pageIndex() === 0">
        &rarr; הקודם
      </button>

      <div class="pager-info">
        {{ pageIndex() + 1 }} / {{ totalPages() }}
      </div>

      <button type="button" class="pager-btn" (click)="nextPage()" [disabled]="pageIndex() >= totalPages() - 1">
        הבא &larr;
      </button>
    </div>

  </ng-container>
</section>

<ng-template #noUsers>
  <p class="no-users">אין משתמשים להצגה.</p>
</ng-template>

<ng-template #loadingTpl>
  <p class="loading">טוען משתמשים...</p>
</ng-template>
